@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Net Core Countries</h1>
</div>
<div class="container p-3 bg-white">
    <p>
        A minimal app to allow others to explore the typical structure used in larger .NET applications. Here you will find Dependency Injection, Repository Pattern, Seperation of Concerns,
        and much more.
    </p>
    <p>
        Click on the "Country" link above to play with a simple list/detail in using ASP.NET Core. 
    </p>
    <p>
        Set some break points and explore the solution. Use it as a starting point to fork from and try your own experimentation.
    </p>
</div>
